index - copia.html
pixkuy web.zip
ficheros_pixkuy.txt
PLAN_DESARROLLO_formulario_reserva_pixkuy_v0.1.txt 
PLAN_DESARROLLO_formulario_reserva_pixkuy_v0_1_actualizado_v4_2.txt 
PLAN_DESARROLLO_formulario_reserva_pixkuy_v0_1_actualizado_v4_9.txt
Uncodixfy.md 
old/ 
skill.md
